In [1]:
lst =[]

In [2]:
lst.append('Mi')  #to add only one record to the list

In [3]:
lst

['Mi']

In [4]:
lst.extend(['Samsung','Nokia', 'Oppo', 'OnePlus']) #to add entries to the list

In [5]:
lst

['Mi', 'Samsung', 'Nokia', 'Oppo', 'OnePlus']

In [6]:
lst.insert(3,'Honor')  #to insert a record/colecton of record at particular location/index

In [7]:
lst

['Mi', 'Samsung', 'Nokia', 'Honor', 'Oppo', 'OnePlus']

In [8]:
lst[2]  #fetch the index value

'Nokia'

In [9]:
#to remove known entryabs from the list
lst.remove('Samsung')  # only deletes .. doenst return any value

In [10]:
lst

['Mi', 'Nokia', 'Honor', 'Oppo', 'OnePlus']

In [11]:
#to remove the last item of the list (know that the last index but not he value. use pop)
lst.pop()  # deletes a value and it returns the value that is in the last index and got deleted

'OnePlus'

In [12]:
lst

['Mi', 'Nokia', 'Honor', 'Oppo']

In [13]:
#remove the value in the index specified. Value not known. -- removes and returns the value in that index that is being removed
lst.pop(1)

'Nokia'

In [14]:
lst.clear()

In [15]:
lst

[]

In [16]:
lst = ['Samsung','Nokia', 'Oppo', 'OnePlus']

In [17]:
lst

['Samsung', 'Nokia', 'Oppo', 'OnePlus']

In [18]:
#to find the position of the item/value . # if the value u r lookinf for is duplicated, it returns the first matching index value
lst.index('Nokia')

1

In [19]:
lst.append('Samsung')

In [20]:
lst

['Samsung', 'Nokia', 'Oppo', 'OnePlus', 'Samsung']

In [21]:
# to remove the duplicated value, it removes the first matching element
lst.remove('Samsung')

In [22]:
lst

['Nokia', 'Oppo', 'OnePlus', 'Samsung']

In [23]:
#count of list entries
len(lst)

4

In [25]:
# to return the number of times the given item is available in the list. 
# count func is used to return the num of occurence of a given item
# len fun is used to give the count of list 
lst.append('Oppo');
lst.count('Oppp');
len(lst)

6

In [26]:
lst

['Nokia', 'Oppo', 'OnePlus', 'Samsung', 'Oppo', 'Oppo']

In [27]:
lst.count('Oppo')

3

In [28]:
# to copy a list - a temp list for manipulation. - to create a copy of lst
lstcopy = lst.copy()

In [29]:
lstcopy

['Nokia', 'Oppo', 'OnePlus', 'Samsung', 'Oppo', 'Oppo']

In [30]:
lst

['Nokia', 'Oppo', 'OnePlus', 'Samsung', 'Oppo', 'Oppo']

In [31]:
lst;
lstcopy

['Nokia', 'Oppo', 'OnePlus', 'Samsung', 'Oppo', 'Oppo']

In [32]:
lst.sort

In [33]:
# to sort the entries
lst.sort()

In [34]:
lst

['Nokia', 'OnePlus', 'Oppo', 'Oppo', 'Oppo', 'Samsung']

In [35]:
lst.reverse()

In [36]:
lst

['Samsung', 'Oppo', 'Oppo', 'Oppo', 'OnePlus', 'Nokia']

In [37]:
name = ['Dhivya', 'Balaji', 'Sharath', 'Naveen', 'Sam']

In [38]:
#min and max
#min and max finds the items based on the ASCII vale
#takes first char of each element, based on the ascii value , min returns small and max returns highest value
min(name)

'Balaji'

In [39]:
max(name)

'Sharath'

In [40]:
#sum () applicable only for integers/float - only numbers.

In [41]:
#sorted and reveresed -- sort / reverse without affecting the original list
sorted(name)

['Balaji', 'Dhivya', 'Naveen', 'Sam', 'Sharath']

In [42]:
name

['Dhivya', 'Balaji', 'Sharath', 'Naveen', 'Sam']

In [43]:
reversed(name)

In [44]:
reversed(name) #to see the output of this reveresed list, u need to pass it as list(reversed(name))

In [47]:
list(reversed(name))

['Sam', 'Naveen', 'Sharath', 'Balaji', 'Dhivya']

In [49]:
name[3] #-- fetch the element in the index in that link

'Naveen'

In [54]:
for i in range(len(name)):
    print(i)
    print (name[i])

0
Dhivya
1
Balaji
2
Sharath
3
Naveen
4
Sam

In [55]:
for i in range(0,len(name),2):
    print(i)
    print (name[i])

0
Dhivya
2
Sharath
4
Sam

In [63]:
# to print the list of even positioned element in reverse order
for i in range(len(name)-1,-1,-2):
    print(i)
    print (name[i])

4
Sam
2
Sharath
0
Dhivya

In [64]:
name = ['Dhivya','Sharath','Babu','Gopi']

In [65]:
for i in range(len(name)-1, -1, -2):
    print (name[i])

Gopi
Sharath