In [1]:
#Learn Tuples
#maintains order
# allows duplicates
# immutable - cahnt modify the tuple - major difference
#methods available are : index, count.. other methods as in list are not applicable as we cannot modify the existing tuple memory
tuplelst = ()

In [2]:
len(tuplelst)

0

In [3]:
tuplelst = ('AA','BB','DD','EE')

In [4]:
tuplelst

('AA', 'BB', 'DD', 'EE')

# Learn Tuple
- **Create Tuple**
- **Update Tuple**
- **Delete Tuple**
- **Slicing Tuple**

**Create Tuple**

In [1]:
#create tuple in multiple ways
#1 : 
mentors= ('Balaji', 'Dhivya', 'Babu', 'Sharath')

In [2]:
type(mentors)

tuple

In [3]:
print(mentors) # output is a tuple normal bracket

('Balaji', 'Dhivya', 'Babu', 'Sharath')

In [4]:
mentors= ('Balaji', 'Dhivya', 'Babu', 'Sharath', 'Gopi')
print(mentors)
print(type(mentors))

('Balaji', 'Dhivya', 'Babu', 'Sharath', 'Gopi')
<class 'tuple'>

In [5]:
#2: Empty tuple - can create empty tuple
mobile = ()
print(mobile)
print(type(mobile))

()
<class 'tuple'>

In [7]:
#3 : Single element tuple
name = ('Gopinath')
print(name)  ### this returns a strng and not a tuple. see the output is not enclosed within brackets
print(type(name)) # type is str
## output is 
#Gopinath
#<class 'str'>

# to give single element tuple, include a comma separator
name = ('Gopinath',)
print(name)
print(type(name))

Gopinath
<class 'str'>
('Gopinath',)
<class 'tuple'>

In [10]:
#4: we can define tuple without brackets - comma separator default data type is considered as tuple
alpha = 'A', 'B', 'c', 'D'
type(alpha)

tuple

**Update Tuple**

In [9]:
tuplelist = ('A','B','C')
tuplelist2 = (1,2,3,4)
concatanatedtup = tuplelist + tuplelist2
print(concatanatedtup)

('A', 'B', 'C', 1, 2, 3, 4)

**Delete Tuple**
Delete tuple deletes the entire tuple

In [11]:
alphab = 'a','b','c'  # delete the alpah compeltely. that why after deleting , it shows that alphab is not defined
del(alphab)
print(alphab)

NameError: name 'alphab' is not defined

In [20]:
## to understand immutability
mobi = ('mi','oppo')

In [21]:
print(id(mobi))

721647152320

In [22]:
#changing the vlaues
mobi = ('honor','samsung')

In [23]:
#see that the mob variable is the same, tho the values are different, the vriable seems to be updated. it may conflict the defns of immutability
# need to understand that they are not overwritten. look at the memory location, it will be diff. 
#The last instance is only remains. cant accessthe prev ones
print(id(mobi))

721661929216

**Slicing Tuple**

In [24]:
#            0       1      2      3       4      5         6
name = ('Sharath','Babu','Gopi','Dhivya','Sam','Naveen','Balaji') 
#          -7       -6     -5     -4      -3      -2      -1   -- beauty of python v can access from reverse. neg indices

In [25]:
# i need to print 1 item 
print(name[4])
#to fetch collection of records, v can apply slicing
#syntax : name[startindes : endindex : Step]  <-- here its colon.. in range it was semicolon
name[0:3]

Sam

('Sharath', 'Babu', 'Gopi')

In [26]:
#name[startindex : endindex: step]  - start index inclusive, end index excluded and step is the increment
#name[startindex:endindex]
#name[:endindex]  - default start is 0
#name[startindex:] - deafualt end is end of the collection
#name [:] -- will return all the item

In [27]:
name[1:-3]

('Babu', 'Gopi', 'Dhivya')

In [28]:
name[::2]

('Sharath', 'Gopi', 'Sam', 'Balaji')

In [29]:
name[::-1]

('Balaji', 'Naveen', 'Sam', 'Dhivya', 'Gopi', 'Babu', 'Sharath')

In [31]:
'Sharath' in name

True

In [32]:
'Sarath' in name

False

In [33]:
'Sharath' not in name

False

In [34]:
list(name)

['Sharath', 'Babu', 'Gopi', 'Dhivya', 'Sam', 'Naveen', 'Balaji']

In [35]:
tuple(name)

('Sharath', 'Babu', 'Gopi', 'Dhivya', 'Sam', 'Naveen', 'Balaji')