In [1]:
st = {}  #- default is dict. 
type(st)

dict

In [3]:
st = {'12as23', '1234wd34', '3de2wf', '3w24rd'}
print(type(st))
print(st)

<class 'set'>
{'3de2wf', '12as23', '1234wd34', '3w24rd'}

In [4]:
st.add('23eghg') # add single item to set  -- unordered and can add anywhere

In [5]:
print(st)

{'3w24rd', '23eghg', '3de2wf', '1234wd34', '12as23'}

In [7]:
st.update({'ads12','65fjtdh','7uyt6j'})
print(st)

{'3w24rd', '65fjtdh', '23eghg', '3de2wf', '1234wd34', '12as23', 'ads12', '7uyt6j'}

In [11]:
st.discard('ads12')
st

{'1234wd34', '12as23', '23eghg', '3de2wf', '3w24rd', '65fjtdh', '7uyt6j'}

In [12]:
st.remove('65fjtdh')
st

{'1234wd34', '12as23', '23eghg', '3de2wf', '3w24rd', '7uyt6j'}

In [13]:
st.pop()

'3w24rd'

In [14]:
st

{'1234wd34', '12as23', '23eghg', '3de2wf', '7uyt6j'}

In [15]:
st.clear() # - removes all elements..returns a blank set

In [16]:
st

set()

In [17]:
###to create an empty set u cannot do set1= {} as default is defualt. u can use set()
x= set()
print(x)
print(len(x))

set()
0

In [18]:
#typecast set to list or tuple
x.update({'1','2','3'})

In [20]:
tuple(x)

('1', '3', '2')

In [21]:
list(x)

['1', '3', '2']

In [22]:
set(x) # - any duplicates in list/tuple will be removed as set is not contains duplicates

{'1', '2', '3'}

In [23]:
y = x.copy()
print(y)

{'1', '3', '2'}

In [24]:
y.update({'4','1'})
y

{'1', '2', '3', '4'}

In [30]:
#special func
a = {1,2,3,4,5,6}
b = {5,6,7,8,9,10}
#union
a.union(b) # this can also be given as A|b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [31]:
#intersection   -- returns the value that are common to both set
a.intersection(b)

{5, 6}

In [32]:
#difference -- returns the values that are unique to one set alone 5 & 6 are the 
a.difference(b)

{1, 2, 3, 4}

In [38]:
a = {1,2,3,4,5,6}
b = {5,6,7,8,9,10}
a.intersection_update(b) # -- updates the a with the intersection value
a

{5, 6}

In [40]:
a = {11,12,13,14,15}
b = {14,15,16,17,18}
print(a.difference(b))
print(a)

{11, 12, 13}
{11, 12, 13, 14, 15}

In [41]:
print(a.difference_update(b))
print(a)

None
{11, 12, 13}

In [42]:
a = {10,20,30,40,50}
b = {40,50,60,70,80}
a.symmetric_difference(b)

{10, 20, 30, 60, 70, 80}

In [43]:
a.symmetric_difference_update(b)

In [44]:
a

{10, 20, 30, 60, 70, 80}

In [46]:
a = {10,20,30,40,50,60,70,80}
b = {10,20,30,40,50,60,70,80,90,100,110}
a.issubset(b)

True

In [47]:
b.issuperset(a)

True

In [48]:
a.isdisjoint(a)

False

In [49]:
a = {1,2,3}
b = {10,11,12}
a.isdisjoint(b)

True