In [1]:
# 12/09 practising all string func and dict funct

1. With a given list [12,24,35,24,88,155,88,120,155], write a program to print this list after       removing all duplicate values with original order reserved.
    input  : [12,24,35,24,88,155,88,120,155]
       output  : [12, 24, 35, 88, 155, 120]
        
        using SET

#13/09
1. Write a program to covert celcius to fahrenheit 
> use user defined func and anonymous function 

        input = {'Chennai' : 36, 'Bangalore' : 29, 'Hyd':34, 'DElhi': 29, 'Mumbai': 35}
        F = (9/5)*C + 32
        output = {'Chennai' : 36, 'Bangalore' : 29, 'Hyd':34, 'DElhi': 29, 'Mumbai': 35}

In [15]:
# way 1 usual approach
dict1= {'Chennai' : 36, 'Bangalore' : 29, 'Hyd':34, 'Delhi': 29, 'Mumbai': 35}
dict2 = {}
for i in dict1:
    print(i)
    f = (9/5)* dict1[i] + 32
    dict2[i] = f
    
dict2

Chennai
Bangalore
Hyd
Delhi
Mumbai

{'Chennai': 96.8,
 'Bangalore': 84.2,
 'Hyd': 93.2,
 'Delhi': 84.2,
 'Mumbai': 95.0}

In [33]:
# way2 using user defined function approach

def cel_to_fah(**kwargs): 
    dictb = {}
    for k,v in kwargs.items():
        print(k,v)
        f = (9/5)* v + 32
        dictb[k] = f
    return dictb

In [35]:
dictA= {'Chennai' : 36, 'Bangalore' : 29, 'Hyd':34, 'Delhi': 29, 'Mumbai': 35}
cel_to_fah(Chennai = 36, Bangalore = 29, Hyd= 34, Delhi= 29, Mumbai= 35)

Chennai 36
Bangalore 29
Hyd 34
Delhi 29
Mumbai 35

{'Chennai': 96.8,
 'Bangalore': 84.2,
 'Hyd': 93.2,
 'Delhi': 84.2,
 'Mumbai': 95.0}

In [39]:
def cel_to_fah1(**kwargs): 
    dictb = {}
    for i in kwargs.items():
        print(i)
        f = (9/5)* i[1] + 32
        print(f)
        dictb[i[0]] = f
    return dictb

In [40]:
cel_to_fah1(Chennai = 36, Bangalore = 29, Hyd= 34, Delhi= 29, Mumbai= 35)

('Chennai', 36)
96.8
('Bangalore', 29)
84.2
('Hyd', 34)
93.2
('Delhi', 29)
84.2
('Mumbai', 35)
95.0

{'Chennai': 96.8,
 'Bangalore': 84.2,
 'Hyd': 93.2,
 'Delhi': 84.2,
 'Mumbai': 95.0}

In [48]:
dicti = {'Chennai' : 36, 'Bangalore' : 29, 'Hyd':34, 'Delhi': 29, 'Mumbai': 35}
dict(map(cel_to_fah1(Chennai = 36, Bangalore = 29, Hyd= 34, Delhi= 29, Mumbai= 35))

SyntaxError: unexpected EOF while parsing (<ipython-input-48-73766dff8949>, line 2)

In [4]:
#way 3 : using ananymous functions
dicta = {'Chennai' : 36, 'Bangalore' : 29, 'Hyd':34, 'Delhi': 29, 'Mumbai': 35}
dictb = {}
dictnames = {}
fn = lambda data : (data[0] , (9/5)* data[1] + 32)
dictb = dict(map(fn,dicta.items()))
print(dictb)

{'Chennai': 96.8, 'Bangalore': 84.2, 'Hyd': 93.2, 'Delhi': 84.2, 'Mumbai': 95.0}

14/09

> create a program to add the even numbers as a separate set from the exist set

    input = {23,52,24,75,46,91}

In [21]:
inputset = {23,52,24,75,46,91}
outputset = set()
fn = lambda a : (a%2==0)
print(set(filter(fn,inputset)))

{24, 52, 46}

15/09
   > Merge the two dictionaries into 1 
  
  
      
      dict1 = {'june': 110 , 'August':223 , 'May':231}
      dict2 = {'may': 231 , 'December':123 , 'March':235}
      
      output = {'june': 110 , 'August':223 ,'may': 231 , 'December':123 , 'March':235}

In [2]:
dict1 = {'june': 110 , 'August':223 , 'May':231}
dict2 = {'May': 231 , 'December':123 , 'March':235}
dict3 = {}
print(set(dict1))
print(set(dict2))
for i in dict1.items():
    print(i[0],i[1])
    if i not in dict2:
        dict2[i[0]] = i[1]

print(dict2)

{'August', 'May', 'june'}
{'May', 'December', 'March'}
june 110
August 223
May 231
{'May': 231, 'December': 123, 'March': 235, 'june': 110, 'August': 223}

16/09

> Create a python code to sort a list of tuples using lambda

    input =  [('Comp', 76) , ('cpu', 82), ('mouse',98) , ('Processor', 65) ]
    output =  [('Processor', 65), ('Comp', 76) , ('cpu', 82), ('mouse',98)]

In [4]:
input =  [('Comp', 76) , ('cpu', 82), ('mouse',98) , ('Processor', 65) ]
lstg = []
print(sorted(input, key = lambda a : a[1]))
lstg =sorted(input, key = lambda a : a[1])
print(lstg)

[('Processor', 65), ('Comp', 76), ('cpu', 82), ('mouse', 98)]
[('Processor', 65), ('Comp', 76), ('cpu', 82), ('mouse', 98)]

17/09

> Write a puthon code to return the longest word from the list of words
     
     input = ["Welcome" , "to", "python" "world"]
     output = Welcome

In [38]:
inputa = ["Welcome" , "to", "python", "world"]
lista = sorted(inputa, key = len)
lista
print("Longest word : " , lista[-1])
print("shortest word : " , lista[0])

Longest word :  Welcome
shortest word :  to

In [41]:
inputa = ["Welcome" , "to", "python", "world"]
print(max(inputa, key = len))
min(inputa, key = len)

Welcome

'to'

18/09
> python code to create a dictonary from string
input = "Python World"
output: {p:1 , y:1 , t:1 , h:1 , o:2 , n:1 , w:1 , r:1, l:1 , d:1}

In [43]:
input = "Python World"
dicta = {}
for eachchar in input:
    dicta[eachchar] = input.count(eachchar)
dicta

{'P': 1,
 'y': 1,
 't': 1,
 'h': 1,
 'o': 2,
 'n': 1,
 ' ': 1,
 'W': 1,
 'r': 1,
 'l': 1,
 'd': 1}

In [44]:
def count_of_char (inputa):
    dictb = {}
    for eachchar in input:
        dictb[eachchar] = input.count(eachchar)
    return dictb

count_of_char("Python World")

{'P': 1,
 'y': 1,
 't': 1,
 'h': 1,
 'o': 2,
 'n': 1,
 ' ': 1,
 'W': 1,
 'r': 1,
 'l': 1,
 'd': 1}

In [45]:
fn = lambda a : count(a)
list(map(fn, "Python World"))

NameError: name 'count' is not defined